body{
    background-image: radial-gradient(circle at 50% -20.71%, #a6edff 0, #90a1ff 12.5%, #76a6ff 25%, #5482ff 37.5%, #0856ff 50%, #006cf8 75%, #0041f4 87.5%, #0040f1 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

form{
    width: 600px;
    border: 2px solid black;
    padding: 6rem;
    background-color: black;
    border: none;
    border-radius: 20px;
    color:aliceblue
}

h1{
display: block;
border: 2px solid black;
width: 95%;
padding: 10px;
margin: 10px;
border-radius: 10px;
}

label{
    color: aliceblue;
    font-size: 18px;
    padding: 10px;
    font-weight: 300;
}

input{
    display: block;
    border: 2px solid black;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

button{
    float: right;
    background-color: #0856ff;
    padding: .5rem;
    color: white;
    border: none;
    width: 40%;
    border-radius: 5px;
    margin-left: 10px;
}

button:hover{
    background-color: white;
    color:black;
}

a{
    float: left;
    margin-left: 10px;
    padding: .5rem;
    text-decoration: none;
}

a:hover{
    color: white;
}

.error{
    background-color: red;
    color: black;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}